@model Atheneum.EntityImg.Album



<form class="form-horizontal" action="/Albums/Update" method="post">
    <h4>
        @(Model.Id > 0 ? "Редактирование": "Создание") Альбома
        @if (Model.Id > 0)
        {
            <a class="btn btn-danger" href="/Albums/Delete?albumId=@(Model.Id)">Удалить альбом</a>
        }
    </h4>
    <hr>
    <div class="form-group row">
        <input type="hidden" name="Id" value="@Model.Id" />
        <label class="col-md-3 control-label" for="login">Type</label>
        <div class="col-md-9">
            <select name="type">
                <option value="0" selected>Wiki</option>
                <option value="1">Альбом выезда</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 control-label" for="login">Name</label>
        <div class="col-md-9">
            <input class="form-control" type="text" name="name" value="@Model.Name" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 control-label" for="login">Description</label>
        <div class="col-md-9">
            <input class="form-control" type="text" name="description" value="@Model.Description" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 control-label" for="login">Created</label>
        <div class="col-md-9">
            <span>@Model.Created.ToString("dd.MM.yyyy HH:mm")</span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12 text-center">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </div>
</form>