@page "/power"

<style>
    img.preview {
        max-width: 300px;
    }
</style>

<h1>Описание механики и питания</h1>

<div class="row">
    <div class="col-md-12">
        <h5>Гусеничная платформа</h5>
        Заказываем на алиэкспрессе, я посмотрел наиболее популярные, искал по словам "шасси танка" и "гусеничная платформа".<br />
        Представлен огромный выбор с совершенно различными габаритами. Я выбрал модель TS100, они стоят в районе 6к, идут сразу в сборе, в комплекте 2 мотора.<br />
        <a href="https://aliexpress.ru/item/32923479680.html?spm=a2g0s.9042311.0.0.563a33edO0A6ao&_ga=2.169505889.1191460470.1622894653-191350022.1596369080" target="_blank">Ссылка на мой товар</a>
        На данный момент стоит 5124 рубля (со скидкой). Встречается ещё проапгрейженная версия T300, вроде как один форм-фактор, но у этой модели корпус и моторы снизу закрыт дополнительной пластиной.<br />
        На моём канале был рабор анбоксинга. Из особенностей, отвратительный демпфер (пружины заедают, толку нет). Так же ширины платформы не хватило для размещения двух моторов рядом (учитывая редукторы).<br />
        В комплекте идут 2 мотора JGA25-370 DC12V100RPM
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img class="preview" src="@Environments.ImgHref("/Img/View/3/7ee6ff74-1399-47d1-4545-08d928241ab9")" />
    </div>
    <div class="col-md-6">
        <img class="preview" src="@Environments.ImgHref("/Img/View/3/3d7d222e-a980-4c91-4543-08d928241ab9")" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
        <h5>Питание в отладке</h5>
        Для того, чтобы не заморачиваться с батареями во время сборки и отладки я использую блок питания (будем звать его БП) от старого компьютера.<br />
        <img class="preview" src="@Environments.ImgHref("/Img/View/3/d4656268-f809-4bd9-4547-08d928241ab9")" /><br />
        Малина, ардуино и прочие платы используют один контур питания, в домашних условиях это обычно какие-то зарядки для телефонов, поключаемые через usb.<br />
        А различные моторы и сервоприводы используют большую силу тока, поэтому для них делается отдельный силовой контур питания. Иначе, если пропустить большой ток для моторов через платы, они попросту сгорят.<br />
        Инструкций с пояснениями в интернете хватает, например, <a href="https://cxem.net/arduino/arduino44.php" target="_blank">вот</a><br />
        Опишу кратко, провода различаются по цветам:
        <ul>
            <li>Чёрный: земля (ground)</li>
            <li>Зелёный (обычно один): управляющий Power On</li>
            <li>Оранжевый: +3.3V</li>
            <li>Красный: +5V</li>
            <li>Жёлтый: +12V</li>
        </ul>
        Остальное вряд ли понадобится, всё можно посмотреть в схеме по ссылке выше.<br />
        Итак, чтобы включить питание, первым шагом нам необходимо соединить навечно зелёный с любым чёрным проводом. Можно спаять, я просто скрутил и замотал изолентой.<br />
        Далее зачищаем нужные провода, втыкаем красный +5V и чёрный (земля) в плату питания <a href="https://amperka.ru/product/arduino-motor-shield" target="_blank">Motor Shield</a> и в <a href="https://amperka.ru/product/arduino-multiservo-shield" target="_blank">Multiservo Shield</a><br />
        В шилд моторов, как не сложно догадаться, подключаются 2 мотора от гусениц. В мультисерво шилд подключаются все сервоприводы, необходимые для управление рукой-захватом и поворотным столом.<br />
        Напряжение питания силовой части: 5–9 В, поэтому у меня подключено красными проводами по 5В.
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img class="preview" src="@Environments.ImgHref("/Img/View/3/a205bec8-e44e-4ecc-454b-08d928241ab9")" />
    </div>
    <div class="col-md-6">
        <img class="preview" src="@Environments.ImgHref("/Img/View/3/4ecdee06-8256-48b0-4549-08d928241ab9")" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
        <h5>Питание в полевых условиях</h5>
        Raspberry Pi 3 не очень требовательный к электроэнергии компьютер. Он работает всего от 5 Вольт и 2,5 Ампер.<br />
        У меня в наличии power bank фирмы Honor на 10000 mAh. Он выдаёт 5-9В, максимальный ток 2 Ампера. В принципе, малина от него запускается,
        но по характеристикам видно, что этого недостаточно, придётся подыскать более подходящий вариант.<br />
        Если у вас малина 4го поколения, то ей необходимы 5В и уже 3 Ампера, будьте бдительны.<br />
        Для питания силовой части будет отдельный аккумулятор, какие ставятся обычно на радиоуправляемые модели. Основные параметры к подбору: тип, ёмкость, размеры.<br />
        Наиболее распространённые типы:
        <ul>
            <li>Li-Ion (литий-ионные). Отличаются легкостью, большой емкостью и низким саморазрядом. Из минусов стоит отметить деградацию при длительном использовании и эффект памяти.</li>
            <li>Li-Po (литий-полимерные). Обладают более высокой емкостью, чем Li-Ion, и при этом изготавливаются без ограничений по размерам. Толщина пластины составляет от 1 мм. Батарее можно придать любую форму. Минусом здесь является наблюдаемая со временем потеря емкости аккумулятора.</li>
            <li>Li-Fe (литий-железные). Характеризуются самым большим температурным диапазоном, поэтому могут работать в любом климате. Особенностью таких аккумуляторов для моделей является больший вес.</li>
            <li>Ni-Cd (никель-кадмиевые). Дешевые батареи с высоким током отдачи, работающие в широком температурном диапазоне. Эти аккумуляторы для машинок способны заряжаться даже в мороз. Главным неудобством использования таких батареек является необходимость полностью разряжать их перед зарядкой.</li>
            <li>Ni-MH (никель-металлогидридные). Обладают большей удельной емкостью при меньшем весе в сравнении с Ni-Cd батареями. Почти не имеют эффекта памяти, но стоят дороже.</li>
        </ul>
        Моторы работают в диапазоне 6-18V. Потребляемая сила тока без нагрузки при 12V 50mA, под нагрузкой 250mA, в блокировке 1200mA.<br />
        Нам нужно ориентироваться на 6 Вольт напряжения, соответственно при той же выдаваемой мощности умножаем эти цифры на 2 и не забываем, что у нас 2 мотора, поэтому под наргрузкой потребление будет около 1 Ампер.<br />
        Сервоприводы для захвата используются <a href="https://amperka.ru/product/servo-fs5109m" target="_blank">fs5109m</a> в количестве 5 или 6 штук.<br />
        Потребление у них 170 mAh. Пиковое до 2 Ампер.<br />
        Повербанки для силовой части есть в <a href="https://amperka.ru/product/zelo-power-bank" target="_blank">амперке</a>. Да, у них уже есть на борту выключатель, индикаторы, зарядка и защита от перегрузки, но... 2000 mA*h как-то очень мало.<br />
        Аккумулятор для силовой части робота будем подбирать в магазине <a href="https://rc-today.ru/akkumulyatornye-i-zaryadnye-ustrojstva/" target="_blank">rc-today</a><br />
        Отличие повербанка от аккумулятора в том, что повербанк имеет малый выходной ток (до 3А) ориентированный на питание современных гаджетов, типа смартфонов.<br />
        Повербанк будет использоваться для питания логической части, так как для неё свойственны небольшие токи. Так же разделение логического и силового контура требуется для стабильной бесперебойной работы логической части.<br />
        Моторы и сервоприводы в пике очень прожорливы, поэтому нам необходим аккумулятор, который может работать при бОльшем напряжении и выдавать большой ток в пике.<br />
        Напоминаю, что мы используем две платы, мотор шилд для питания двигателей и мультисерво шилд для питания сервомоторов. Мультисерво шилд работает в диапазоне 5-9V,
        этот диапазон ниже, чем у мотор шилда, но так как питание будет от одной батареи, то ориентироваться нам надо, в идеале, на 9 Вольтовую батарею.<br />
        Я посмотрел по популярности, самые распространённые батареи идут на 7.4 Вольта, нам подходит.<br />
        (Выше идёт расчёт для моторов при 6В, соотвественно, при 7,4В среднее рабочее потребление будет около 0.81 Ампер. Сервоприводы гораздо прожорливее)<br />
        <img class="preview" src="@Environments.ImgHref("/Img/View/3/c3031e92-7cd0-4d14-e8f7-08d929c721e9")" /><br />
        <div class="alert alert-secondary mt-4" role="alert">
            <span style="font-size: 14px;">// Справка по значениям 50C, которые указывают на аккумуляторах</span><br />
            "С" - емкость аккумулятора. Если говорят, что токоотдача аккумулятора, например 7600мА/ч составляет 50С, то это значит, что максимально он может отдавать 50х7600 => 380 000 mА => 380 Ампер.
            <br /><span class="oi oi-dollar mr-2" aria-hidden="true"></span>
            Как видим, для нашего случая это сверх избыточные значения и не забываем, что переплачивать совершенно не нужно!
        </div>
        Так же хочу отметить, что бывают аккумуляторы, в которые можно вставить различные коннекторы (T-Plug, TRX, XT60), например Аккумулятор VANT Black Li-Po 2S2P 7600mAh 75C за 3500 рублей (скрин)<br />
        Дополнительно, не забываем, что бывают разного рода скидки/акции и не забывайте сравнивать цены на понравившийся товар в различных магазинах<br />
        Я выбрал Аккумулятор <a href="https://rc-today.ru/product/akkumulyator-vant-li-po-74v-7600-mah-50c-2s-vtb50c76-2s/" target="_blank">Vant Li-Po 7.4V 7600 mAh 50C</a> разъём (один из самых популярных) XT60 за 3000 рубей.<br />
        <br /><h5>Далее, коннекторы:</h5>
        Нам необходимо с одного аккумулятора запитать две платы, на моторы и на сервоприводы. На этих платах у нас стоят клеммы (втыкаются голые провода)<br />
        Соответственно, докупаем разъём "папа XT60", бывают сразу с припаянными проводами (сейчас нет в наличии), либо продаются парой без проводов. Цены от 120 до 190 рублей в рознице. <a href="https://rc-today.ru/product/akkumulyator-vant-li-po-74v-7600-mah-50c-2s-vtb50c76-2s/" target="_blank">Например</a><br />
        <br /><h5>Последнее, зарядное устройство:</h5>
        Второй разъём-выход на аккумуляторе Deans (T-Plug), он используется для зарядки. Дополнительно видим в характеристиках величину 2S (количество элементов) и тип LiPo.<br />
        Под эти характеристики можем выбрать любой бюджетный вариант из зарядок (700-900р). Можем взять более расширенный набор с прицелом на будущее.<br />
        Мне консультант из магазина впарил <a href="https://rc-today.ru/product/universalnoe-zaryadnoe-ustroystvo-gtpower-c607d-7a-80w-gtp-c607d/" target="_blank">Универсальное зарядное устройство G.T.POWER C607D</a> за 2650 рублей.
    </div>
</div>
<br />
<br />
<br />