@page "/turntable"
@inject IJSRuntime JsRuntime;

<style>
    img.preview {
        max-width: 300px;
    }
</style>

<h1>Сборка поворотного стола</h1>

<div class="row">
    <div class="col-md-12">
        <h5>Поворотный стол</h5>
        Заказываем на алиэкспрессе, ищем по по словам turntable rotatetable и аналогичным.
        Я брал в этом <a href="https://aliexpress.ru/store/202950?spm=a2g0o.detail.1000008.6.591de3dewddU6U" target="_blank">магазине</a>.<br />
        Часто такие столы идут уже с готовыми панелями для креплений, но под мою гусеничную платформу (я выбирал из самых распространённых) эти крепления не подходят, поэтому достаточно одного стола.<br />
        На момент покупки цена была около 700 рублей.
        <ul>
            <li>Материал: аллюминий</li>
            <li>Наружный диаметр: 120 мм</li>
            <li>Внутренний диаметр: 80 мм</li>
            <li>Изображения с али:</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img class="preview" src="@Environments.ImgHref("/Img/View/1/185cb5a1-98d8-4b1b-c087-08d910c27247")" />
    </div>
    <div class="col-md-6">
        <img class="preview" src="@Environments.ImgHref("/Img/View/1/ce9c1ad3-a872-4cd6-c089-08d910c27247")" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
        <h5>Резка фанеры</h5>
        Чертёж выполнил в автокаде (довольно быстро, хотя опыта не было). <a href="/files/povorotniy_stol_1.dwg" target="_blank">Скачать</a>.<br />
        <img class="preview" src="@Environments.ImgHref("/Img/View/1/3c81b079-7659-4e87-c08b-08d910c27247")" /><br />
        Прошерстил ближайшие места, занимающиеся резкой фанеры. Цены в среднем были рублей 700-900.<br />
        Были и неприлично большие, около 7к. Часто есть сумма минимального заказа 1,5-2к.<br />
        Так же проверяйте город, первый раз я заказал в Питере и даже обычная почтовая пересылка вышла бы дороже, чем заказать на месте.<br />
        Самый дешёвый вариант я нашёл за 300 рублей <a href="https://www.stylereklama.ru/" target="_blank">тут</a>
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>Заказ крепежа</h5>
        Нам понадобятся: стойки печатных плат, винты м3 и гайки м3. Всё заказывал (но заказывать не обязательно, вроде как всегда в наличии) в магазине Чип и Дип.
        Для сбора нам понадобятся:
        <ul>
            <li>Стойка для п/плат м3 12мм (1 винт) 3шт. <a href="https://www.chipdip.ru/product/pchsn-12">ссылка</a></li>
            <li>Стойка для п/плат м3 12мм (2 дырки) 1шт. <a href="https://www.chipdip.ru/product/pchss-12">ссылка</a></li>
            <li>Стойка для п/плат м3 20мм (1 винт) 5шт. <a href="https://www.chipdip.ru/product/pcsn-20">ссылка</a></li>
            <li>Винты м3 16мм <a href="https://www.chipdip.ru/product0/9000688246">ссылка</a></li>
            <li>Винты м3 12мм <a href="https://www.chipdip.ru/product0/9000688262">ссылка</a></li>
            <li>(не уверен, нужны ли винты 10мм, возьмите на всякий случай, чтобы не бегать)</li>
            <li>Гайка м3 <a href="https://www.chipdip.ru/product0/9000688274">ссылка</a></li>
        </ul>
        <img class="preview" src="@Environments.ImgHref("/Img/View/1/9d3a8402-e171-4212-18f5-08d9107dd78c")" />
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>Сборка:</h5>
        <p>
            1. Прикладываем корпус мотора к меньшему кругу (пока не прикручиваем)<br />
            <img class="preview" src="@Environments.ImgHref("/Img/View/1/9f554928-6ce9-493a-18ed-08d9107dd78c")" />
        </p>
        <p>
            2. С обратной стороны прикручиваем втулку<br />
            <img class="preview" src="@Environments.ImgHref("/Img/View/1/1a6da757-7f38-434d-18ef-08d9107dd78c")" />
        </p>
        <p>
            3. Добавляем поворотный стол<br />
            <img class="preview" src="@Environments.ImgHref("/Img/View/1/57e0fdb8-694c-49dd-18f1-08d9107dd78c")" />
        </p>
        <p>
            4. Поворотный стол с обратной стороны<br />
            <img class="preview" src="@Environments.ImgHref("/Img/View/1/81845b92-60f5-4029-18f3-08d9107dd78c")" />
        </p>
        <p>
            5. Добавляем нижние стойки, примеряем отверстие под поворотный мотор<br />
            <img class="preview" src="@Environments.ImgHref("/Img/View/1/72ae994a-cf29-41d7-18f7-08d9107dd78c")" />
        </p>
        <p>
            6. Вид сверху нижнего большого круга<br />
            <img class="preview" src="@Environments.ImgHref("/Img/View/1/22ee5a9e-7df6-4024-18f9-08d9107dd78c")" />
        </p>
        <p>
            7. Прикручиваем нижний блок к платформе<br />
            <img class="preview" src="@Environments.ImgHref("/Img/View/1/3bd460b9-c3b0-4164-18fb-08d9107dd78c")" />
        </p>
        <p>
            8. Вид снизу<br />
            <img class="preview" src="@Environments.ImgHref("/Img/View/1/49f2fb2c-23d5-4af9-18fd-08d9107dd78c")" />
        </p>

    </div>
</div>